@model ProductDataAccess.Models.Product

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Shop", "Product")">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/assets/images/products/@Model.ImgName" data-zoom-image="assets/images/products/single/1-big.jpg" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">@Model.ProductName</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                $@Model.Price.ToString("N0")
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>@Model.ProductName</p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <a id="addtocart" href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-details-action -->

                            @section scripts{
                                <script>
                                    $('#addtocart').on('click', function (e) {
                                        e.preventDefault();

                                        const quantity = document.getElementById("qty").value; // Lấy giá trị từ input

                                        // Xây dựng URL cho action AddToCart
                                        const url = `/Cart/AddToCart?productId=${@Model.ProductId}&quantity=${quantity}&price=${@Model.Price}`;

                                        fetch(url, {
                                            method: 'POST'
                                        }).then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    // Redirect tới URL được trả về từ server
                                                    window.location.href = data.redirectUrl;
                                                } else {
                                                    Swal.fire({
                                                        icon: 'error',
                                                        title: 'Add to cart Failed',
                                                        text: "Failed to add to cart.",
                                                        confirmButtonText: 'Try Again'
                                                    })
                                                }
                                            })
                                            .catch(error => {
                                                console.error("Error:", error);
                                            });
                                    });

                                </script>
                            }
                            
                           
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                  
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>@Model.ProductName</p>
                            <ul>
                                <li>Name: @Model.ProductName</li>
                                <li>Stock: @Model.Stock</li>
                            </ul>

                            <p>Product Descriptions </p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab 
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->